* {
    margin: 0;
    padding: 0;
}

.center {
    /* border: 10px solid gray; */
    max-width: 1000px;
    margin: auto;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: white
    /* width: ; */
    /* height: auto */
}

.default {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(34, 33, 33);
    /* width: 50%;
    height: 50%;
    position: absolute;
    display: flex;
    top: 50%;
    left: 45%; */
    border: 2px solid black
}